@inherits LayoutComponentBase
@inject CookCompAPI _api
@inject UserGlobal _user;
@inject NavigationManager _nav;

<div class="page">
    <main>
        <div class="top-row px-4">
            <div class="user-select-none">
                @titleStr &nbsp @if (_user.LoggedIn)
                {
                    <div style="display:inline" @onclick="LogOut">
                        <i class="fas fa-right-from-bracket"></i>
                        <span>Log Out</span>
                    </div>
                }
            </div>
            <div class="user-select-none" style="display:flex; align-items:center"><i class="fa-fw fas fa-bowl-food"></i>&nbsp<span class="d-sm-none">CC</span><span class="d-none d-sm-block">Cooking Companion</span></div>
        </div>

        <div class="@loginCSS">
            <LoginForm @ref="@loginObj" OnSuccessCallBack="SuccessfulCallBack" />
        </div>
        <div class="@bodyCSS">
            <article class="content px-3">
                @Body
            </article>
        </div>

    </main>
</div>

@code {
    string loginCSS = "";
    string bodyCSS = "";
    private LoginForm loginObj = new();
    string titleStr = "";

    protected override async Task OnInitializedAsync()
    {
        //loginObj = new();

        System.Diagnostics.Debug.WriteLine("Login CSS: " + loginObj.LoginCSS);
        if (_user.LoggedIn)
        {
            bodyCSS = "d-block";
            titleStr = "Welcome, " + _user.UserName + ". ";
            loginCSS = "d-none";
            //loginObj.Hide();
        }
        else
        {
            bodyCSS = "d-none";
            titleStr = "";
            loginCSS = "d-block";
            //loginObj.Show();
        }
        //System.Diagnostics.Debug.WriteLine("Login CSS: " + loginObj.LoginCSS);
        StateHasChanged();
    }

    public void SuccessfulCallBack()
    {
        if (_user.LoggedIn && _user.UserName.Length > 0)
        {
            bodyCSS = "d-block";
            titleStr = "Welcome " + _user.UserName;
            loginCSS = "d-none";
            //loginObj.Hide();
        }
        else
        {
            bodyCSS = "d-none";
            titleStr = "";
            loginCSS = "d-block";
            //loginObj.Show();
        }
        StateHasChanged();
        _nav.NavigateTo("/", true);
    }

    public void LogOut()
    {
        _user.ResetUserInfo();
        _nav.NavigateTo("/", true);
    }
}
