@using Data.Models.Models;
@inject UserGlobal _user;
@inject CookCompAPI _api;
<PageBase>
    <PageTitle>Welcome to CC!</PageTitle>
    <h3>Welcome!</h3>
    <FormBase>
        <FormInputText @bind-Value="UserField" Name="Please enter your provided username..." CssClass="" FieldWidth="12" />
    </FormBase>
</PageBase>

<ButtonContainer>
    <SubmitButtonControl Name="Login" Icon="fas fa-sign-in-alt" OnClickCall="Save" />
</ButtonContainer>

@code {
    public string LoginCSS { get; set; }

    [Parameter]
    public EventCallback OnSuccessCallBack { get; set; }

    private User? getUser = new();

    private string UserField { get; set; }

    private async Task Save()
    {
        try
        {
            getUser = await _api.GetUser(UserField);

            if (getUser != null && getUser.Id > 0)
            {
                //System.Diagnostics.Debug.WriteLine("User found");
                _user.SetUserInfo(getUser);

                await OnSuccessCallBack.InvokeAsync();
            }
            else
            {
                //System.Diagnostics.Debug.WriteLine("User NOT found");
            }
        }
        catch { }
    }

    public void Hide()
    {
        LoginCSS = "d-none";
        //System.Diagnostics.Debug.WriteLine("Hiding Login");
    }

    public void Show()
    {
        LoginCSS = "d-block";
        //System.Diagnostics.Debug.WriteLine("Showing Login");
    }
}