<form>
    <div>
        <b>@QuestionName</b>
    </div>
    <br />
    @if (ChoiceStrings?.Count > 0)
    {
        int count = 0;

        foreach (string s in ChoiceStrings)
        {
            count++;
            int currCount = count;
            <div class="form-check form-check-inline me-4">
                <input class="form-check-input" type="radio" value="@count" name="@FormName"
                       @onclick="()=>UpdateAnswer(currCount)">
                <label class="form-check-label">@s</label>
            </div>
        }
    }
</form>

@code {
    [Parameter]
    public QuestionnaireObj QuestionObj { get; set; }

    [Parameter]
    public EventCallback OnChangeEvent { get; set; }

    private void UpdateAnswer(int value)
    {
        if (QuestionObj.Id > 0)
        {
            QuestionObj.QuestionOneAnswer = value;

            OnChangeEvent.InvokeAsync();
        }
    }

    [Parameter]
    public string FormName { get; set; } = "default";

    [Parameter]
    public string QuestionName { get; set; } = "default";

    [Parameter]
    public List<string>? ChoiceStrings { get; set; }


}
