<div class="g-col-4 p-2" @onmouseover="MouseOver" @onmouseout="MouseOut"><i class="@ClassStr"></i></div>

@code {
    string ClassStr { get; set; } = "g-col-4 far fa-check-circle";

    public void MouseOver(MouseEventArgs e) { ClassStr = "fas fa-check-circle"; }

    public void MouseOut(MouseEventArgs e) { ClassStr = "far fa-check-circle"; }

    [Parameter]
    public string ColSize { get; set; } = string.Empty;
}
