@if(IsInteractive)
{
    <div class="col-@ColSize user-select-none" @onclick="OnClickCall" @onmouseover="MouseOver" @onmouseout="MouseOut"><i class="@ClassStr"></i>&nbsp @DescriptionStr</div>
    @* @ontouchend="TouchEnd"  *@
}
else
{
    <div class="col-@ColSize user-select-none"><i class="@ClassStr"></i>&nbsp @DescriptionStr</div>
}


@code {
    [Parameter]
    public bool IsInteractive { get; set; }

    private string? _classStr = string.Empty;

    public string ClassStr { 
        get
        {
            if (_classStr == string.Empty)
            {
                if (IsFavourite)
                {
                    _classStr = "col-3 fas fa-star text-warning";
                }
                else
                {
                    _classStr = "col-3 far fa-star";
                }
            }

            return _classStr;
        }
        set
        {
            _classStr = value;
        }
    }

    public void MouseOver(MouseEventArgs e)
    {
        if (IsFavourite)
        {
            ClassStr = "col-3 fas fa-star";
        }
        else
        {
            ClassStr = "col-3 fas fa-star text-warning";
        }
    }

    public void MouseOut(MouseEventArgs e)
    {
        if (IsFavourite)
        {
            ClassStr = "col-3 fas fa-star text-warning";
        }
        else
        {
            ClassStr = "col-3 far fa-star";
        }
    }

    public void TouchEnd(TouchEventArgs e)
    {
        if (IsFavourite)
        {
            ClassStr = "col-3 fas fa-star text-warning";
        }
        else
        {
            ClassStr = "col-3 far fa-star";
        }
    }

    [Parameter]
    public bool IsFavourite { get; set; }

    [Parameter]
    public string ColSize { get; set; } = string.Empty;

    [Parameter]
    public bool IncludeStr { get; set; }

    [Parameter]
    public EventCallback OnClickCall { get; set; }

    public string DescriptionStr
    {
        get
        {
            if (IncludeStr)
            {
                if (IsFavourite)
                {
                    return "Recipe Saved";
                }
                else
                {
                    return "Save Recipe";
                }
            }
            else
            {
                return "";
            }
        }
    }
}
