
<div class="col-@ColSize user-select-none" @onclick="OnClickCallback" @onmouseover="MouseOver" @onmouseout="MouseOut"><i class="@ClassStr"></i>@DescriptionStr</div>

@code {
    private string? _classStr = string.Empty;

    //string ClassStr { get; set; } = "col-3 fas fa-thumbtack";

    string ClassStr
    {
        get
        {
            if(_classStr == string.Empty)
            {
                if(IsPinned)
                {
                    _classStr = "col-3 fas fa-thumbtack fa-rotate-90 text-danger";
                }
                else
                {
                    _classStr = "col-3 fas fa-thumbtack";
                }
            }

            return _classStr;
        }
        set
        {
            _classStr = value;
        }
    }

    public void MouseOver(MouseEventArgs e)
    {
        if(IsPinned)
        {
            ClassStr = "col-3 fas fa-thumbtack fa-rotate-90";
        }
        else
        {
            ClassStr = "col-3 fas fa-thumbtack text-danger";
        }
    }

    public void MouseOut(MouseEventArgs e)
    {
        if (IsPinned)
        {
            ClassStr = "col-3 fas fa-thumbtack fa-rotate-90 text-danger";
        }
        else
        {
            ClassStr = "col-3 fas fa-thumbtack";
        }
    }

    [Parameter]
    public EventCallback OnClickCallback { get; set; }

    [Parameter]
    public bool IsPinned { get; set; }

    [Parameter]
    public string ColSize { get; set; } = string.Empty;

    [Parameter]
    public bool IncludeStr { get; set; }

    public string DescriptionStr
    {
        get
        {
            if (IncludeStr)
            {
                if (IsPinned)
                {
                    return "";
                }
                else
                {
                    return "";
                }
            }
            else
            {
                return "";
            }
        }
    }
}
