
<div class="col-@ColSize user-select-none" @onclick="OnClickCallback"><i class="@PinClass"></i>@DescriptionStr</div>

@code {
    [Parameter]
    public string PinClass { get; set; }

    [Parameter]
    public EventCallback OnClickCallback { get; set; }

    [Parameter]
    public bool IsPinned { get; set; }

    [Parameter]
    public string ColSize { get; set; } = string.Empty;

    [Parameter]
    public bool IncludeStr { get; set; }

    public string DescriptionStr
    {
        get
        {
            if (IncludeStr)
            {
                if (IsPinned)
                {
                    return "";
                }
                else
                {
                    return "";
                }
            }
            else
            {
                return "";
            }
        }
    }
}
