<div class="g-col-4 p-2 "><i class="@ClassStr" title="@TitleStr"></i>&nbsp @DescriptionStr</div>

@code {
    [Parameter]
    public bool IsVege { get; set; }

    [Parameter]
    public bool IsVegan { get; set; }

    [Parameter]
    public string ColSize { get; set; } = string.Empty;

    [Parameter]
    public bool IncludeStr { get; set; }

    public string DescriptionStr
    {
        get
        {
            if(IncludeStr)
            {
                if(IsVege)
                {
                    return "V";
                }
                else if (IsVegan)
                {
                    return "VG";
                }
                else
                {
                    return "Non-V";
                }
            }
            else
            {
                return "";
            }
        }
    }

    public string TitleStr
    {
        get
        {
            if(IsVege)
            {
                return "This recipe is vegetarian.";
            }
            else
            {
                return "This recipe is not vegetarian.";
            }
        }
    }

    public string ClassStr
    {
        get
        {
            if (IsVege)
            {
                return "fas fa-leaf text-success";
            }
            else
            {
                return "fas fa-leaf text-secondary";
            }
        }
    }
}
