@page "/5e3ab173-93a1-43fc-86d1-45c9999cfc85"
@inject NavigationManager _nav
@inject PageHistory _page
@inject UserGlobal _user

@if (_user.IsAdmin)
{
    <PageTitle>CC - Admin Panel</PageTitle>

    <PageBase>
        <h1>Admin Panel</h1>
        This is where all users, ingredients and recipes can be managed.<br /><br />

        <div class="grid gap-3">
            <MenuItem IsAdmin=true Icon="fas fa-user" Title="Manage Users" Href="5e3ab173-93a1-43fc-86d1-45c9999cfc85"></MenuItem>
            <MenuItem IsAdmin=true Icon="fas fa-carrot" Title="Manage Ingredients" Href="bfb09b08-06f1-4add-9244-21afa063cb4f"></MenuItem>
            <MenuItem IsAdmin=true Icon="fas fa-burger" Title="Manage Recipes" Href="a7d5083a-9e8d-47b1-8c47-62387e829df1"></MenuItem>
            <MenuItem IsAdmin=true Icon="fas fa-file-signature" Title="View Logs" Href="92b57ad2-e8aa-4396-be46-de75dae897ec"></MenuItem>
        </div>
        <ButtonContainer>
            <BackButtonControl OnClickCall="PageBack" />
        </ButtonContainer>
    </PageBase>
}



@code {
    private void PageBack()
    {
        if (_page.IsPrevious())
        {
            _nav.NavigateTo(_page.GetPreviousPage());
        }
    }
}
