@page "/admin"
@inject NavigationManager _nav
@inject PageHistory _page

<PageTitle>CC - Admin Panel</PageTitle>

<PageBase>
<h1>Admin Panel</h1>
This is where all users, ingredients and recipes can be managed.<br /><br />

<FormBase>
        <MenuItem IsAdmin=true Icon="fas fa-user" Title="Manage Users" Href="admin"></MenuItem>
        <MenuItem IsAdmin=true Icon="fas fa-carrot" Title="Manage Ingredients" Href="admin/ingredients"></MenuItem>
        <MenuItem IsAdmin=true Icon="fas fa-burger" Title="Manage Recipes" Href="admin/recipes"></MenuItem>
</FormBase>
</PageBase>

<ButtonContainer>
    <BackButtonControl OnClickCall="PageBack" />
</ButtonContainer>



@code {
    private void PageBack()
    {
        if (_page.IsPrevious())
        {
            _nav.NavigateTo(_page.GetPreviousPage());
        }
    }
}
