@page "/92b57ad2-e8aa-4396-be46-de75dae897ec/"
@inject CookCompAPI _api
@inject NavigationManager _nav
@inject PageHistory _page
@inject UserGlobal _user

@if (_user.IsAdmin)
{
    <PageTitle>Admin Logs</PageTitle>
    <PageBase>
        <h3>Manual Log Entry Table</h3>
        <LogEntryTable />
        <ButtonContainer>
            <BackButtonControl OnClickCall="PageBack" />
        </ButtonContainer>
    </PageBase>
}

@code {
    private void PageBack()
    {
        if (_page.IsPrevious())
        {
            _api.ClearCacheAsync();
            _nav.NavigateTo(_page.GetPreviousPage());
        }
        else
        {
            _nav.NavigateTo("/5e3ab173-93a1-43fc-86d1-45c9999cfc85");
        }
    }
}
