<button class="btn btn-@Colour btn-lg mb-3" @onclick="OnClickCall"><i class="@Icon"></i>&nbsp @Name</button>
@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Colour { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public EventCallback OnClickCall { get; set; }
}
