@inject NavigationManager NavManager

<div @onclick="OnClickEvent" class="p-3 text-center fs-2 mb-2 text-dark-emphasis bg-light-subtle border border-primary-subtle rounded-3 user-select-none">
        <span class="@Icon">

        </span>
        <span>
            @Title
        </span>
</div>

@code {
    [Parameter]
    public string Icon { get; set; } = string.Empty;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Href { get; set; } = string.Empty;

    private void OnClickEvent()
    {
        NavManager.NavigateTo(Href);
    }
}