@page "/recipes/cooking/{CatchId}"
@inject CookCompAPI _api
@inject NavigationManager _nav
@inject UserGlobal _user
@inject PageHistory _page

<PageTitle>@PageTitleName</PageTitle>
<PageBase>
    <h3>@TitleName</h3>
    <FormBase>
        @if (!IsLoading)
        {
            <div>@rStepObj.Title</div>
            <div>@rStepObj.Description</div>
        }
        else
        {
            <div>Content is loading...</div>
        }
    </FormBase>
</PageBase>

<ButtonContainer>
    <BackButtonControl OnClickCall="PageBack" />
</ButtonContainer>

@code {
    [Parameter]
    public string CatchId { get; set; } = string.Empty;

    [Parameter]
    public int RecipeId { get; set; }

    private bool IsLoading { get; set; } = true;

    private Recipe? RecipeObj { get; set; }

    private List<CookingStep> stepList { get; set; }

    private RecipeStep? rStepObj { get; set; }

    private CookingStep? cStepObj { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        int recId = Int32.Parse(CatchId);
        if (recId > 0)
        {
            RecipeId = recId;
            RecipeObj = await _api.GetRecipeUniqueAsync(RecipeId);

            stepList = await _api.CheckCookingStatus(RecipeId, _user.Id);

            foreach (CookingStep cs in stepList)
            {
                if (!cs.IsCompleted)
                {
                    cStepObj = cs;
                    rStepObj = await _api.GetRecipeStepUniqueAsync(cs.StepId);
                    break;
                }
            }

            System.Diagnostics.Debug.WriteLine("C Step: " + cStepObj.StepNumber);
            System.Diagnostics.Debug.WriteLine("R Step: " + rStepObj.Title);

            IsLoading = false;
        }
        else
        {
            RecipeObj = new();
        }

        await base.OnParametersSetAsync();
    }

    public string PageTitleName
    {
        get
        {
            if (RecipeObj.Id > 0)
            {
                return "CC - Cooking " + RecipeObj.Name;
            }
            else
            {
                return "Cooking Companion";
            }
        }
    }

    public string TitleName
    {
        get
        {
            if (RecipeObj.Id > 0)
            {
                return "Cooking " + RecipeObj.Name;
            }
            else
            {
                return "Cooking Companion";
            }
        }
    }


    private void PageBack()
    {
        if (_page.IsPrevious())
        {
            _api.ClearCacheAsync();
            _nav.NavigateTo(_page.GetPreviousPage());
        }
    }
}
