@page "/"
@inject CookCompAPI _api
@inject UserGlobal _user

<PageTitle>Cooking Companion</PageTitle>

<PageBase>
    <h1>Main Menu</h1>

    Below we will begin with some high contrast clear buttons. These will use icons
    and text.<br /><br />

    <FormBase>
        @if(_user.IsAdmin) {
            <MenuItem Icon="fas fa-tools" Title="Admin Panel" Href="admin"></MenuItem>
        }
        <MenuItem Icon="fas fa-burger" Title="Recipes" Href="recipes"></MenuItem>
        <MenuItem Icon="fas fa-list-check" Title="Shopping Lists" Href=""></MenuItem>
        <MenuItem Icon="fas fa-star" Title="Favourites" Href="favourites"></MenuItem>
    </FormBase>
    
</PageBase>

