@page "/"
@inject CookCompAPI _api
@inject UserGlobal _user

<PageTitle>Cooking Companion</PageTitle>
<PageBase>
    <h1>Main Menu</h1>

    <p>Hello, Welcome to Cooking Companion!<br /><br /> This app has been designed alongside research 
        into whether apps can be designed in a way that's more considerate to users with MCI. The hope is that
        in the future such apps can help users with MCI perform certain daily tasks with more confidence - in this case - cooking.
    </p><br /><br />

    <div class="grid gap-3">
        @if (_user.IsAdmin)
        {
            <MenuItem Icon="fas fa-tools" Title="Admin Panel" Href="admin"></MenuItem>
        }
        <MenuItem Icon="fas fa-burger" Title="Recipes" Href="recipes"></MenuItem>
        <MenuItem Icon="fas fa-list-check" Title="Shopping Lists" Href="shoppinglist"></MenuItem>
        <MenuItem Icon="fas fa-star" Title="Favourites" Href="favourites"></MenuItem>
    </div>
</PageBase>

@code {
    protected override async Task OnInitializedAsync()
    {
        if(_user.LoggedIn)
        {
            StateHasChanged();
        }
    }
}

