@page "/ingredients"
@using Data.Models.Interfaces
@using Data.Models
@inject CookCompAPI _api
@inject NavigationManager _nav

<PageTitle>Cooking Companion - Ingredients</PageTitle>

<h1>Ingredients</h1>

<AlertItem Style="AlertItem.AlertStyle.Info">
    Below will be a list of all ingredients.
</AlertItem>

<ul>
    @foreach (var i in ingredients)
    {
        @* <li @onclick="() => OnClickEvent(i.Id)">@i.Name - @i.Description</li> *@
        <IngredientCard Name="@i.Name" Description="@i.Description" OnClickCall="() => OnClickEvent(i.Id)"/>
    }
</ul>

<ButtonControl Name="Add New" Colour="success" Icon="fas fa-edit" OnClickCall="AddNewIngredient"/>

@code {
    protected List<Ingredient> ingredients = new List<Ingredient>();

    protected override async Task OnInitializedAsync()
    {
        ingredients = await _api.GetIngredientListAsync(10, 0);
        await base.OnInitializedAsync();
    }

    private void OnClickEvent(int ingredientId)
    {
        _nav.NavigateTo("/edit_ingredient/" + ingredientId);
    }

    private async Task AddNewIngredient ()
    {
        _nav.NavigateTo("/edit_ingredient/" + 0);
    }
}