@inject NavigationManager NavManager
@inject PageHistory _page

<div @onclick="OnClickEvent" style="height: 80px;" class="@MenuItemSize w-menu-item p-3 me-3 mb-3 fs-3 text-center rounded-3 user-select-none">
        <span class="@Icon align-middle">

        </span>
    <span class=" align-middle">
            @Title
        </span>
</div>

@code {
    [Parameter]
    public bool IsOffCanvas { get; set; }

    private string MenuItemSize { get; set; } = "col-md-5";

    [Parameter]
    public bool IsAdmin { get; set; }

    [Parameter]
    public string Icon { get; set; } = string.Empty;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Href { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if(IsOffCanvas)
        {
            MenuItemSize = "col-md-12";
        }
        else
        {
            MenuItemSize = "col-md-5";
        }


    }

    private void OnClickEvent()
    {
        NavManager.NavigateTo(Href);
        if (IsAdmin)
        {
            _page.AddPage("admin");
        }
        else
        {
            _page.AddPage("");
        }
    }
}