@inject NavigationManager NavManager
@inject PageHistory _page

<div @onclick="OnClickEvent" style="150px;" class="p-2 @MenuItemSize w-menu-item fs-3 text-center rounded-3 user-select-none">
        <span style="font-size:1.6rem; text-align:center" class="@Icon">

        </span>
    <span style="font-size:1.6rem; text-align:center" >
            @Title
        </span>
</div>

@code {
    [Parameter]
    public bool IsOffCanvas { get; set; }

    private string MenuItemSize { get; set; } = "g-col-6";

    [Parameter]
    public bool IsAdmin { get; set; }

    [Parameter]
    public string Icon { get; set; } = string.Empty;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Href { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if(IsOffCanvas)
        {
            MenuItemSize = "g-col-12";
        }
        else
        {
            MenuItemSize = " g-col-12 g-col-md-6";
        }


    }

    [Parameter]
    public EventCallback OnMenuItemClick { get; set; }

    private async void OnClickEvent()
    {
        NavManager.NavigateTo(Href);
        if (IsAdmin)
        {
            _page.AddPage("admin");
        }
        else
        {
            _page.AddPage("");
        }
        await OnMenuItemClick.InvokeAsync();
    }
}