<div class="card mb-3 me-3 col-sm-3 user-select-none" @onclick="OnClickCall">
    <div class="row g-0">
        <div class="col-md-4 mt-2 mb-2">
            <img src="@ImgUrl" class="img-fluid rounded-start" alt="@Name">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Name</h5>
                <p class="card-text">@Description</p>
                <p class="card-text"><small class="text-body-secondary">Duration: @Duration minutes</small></p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public string Description { get; set; } = string.Empty;

    [Parameter]
    public string Duration { get; set; } = string.Empty;

    [Parameter]
    public string ImgUrl { get; set; } = string.Empty;

    [Parameter]
    public DateTime LastModified { get; set; }

    [Parameter]
    public EventCallback OnClickCall { get; set; }

    public string ImgPath { get; set; } = string.Empty;

    public int GetMinsSinceModified()
    {
        TimeSpan ts = DateTime.Now - LastModified;
        return (int)ts.TotalMinutes;
    }
}