<div class="d-none d-md-grid">
    <div class="btn-group mt-4">
        @ChildContent
    </div>
</div>
<div class="d-grid d-md-none">
    <div class="btn-group-vertical mt-4">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
