<div class="container">
    <form class="@ClassCss">
        @ChildContent
    </form>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool CenterItems { get; set; } = true;

    public string ClassCss { 
        get
        {
            if(CenterItems)
            {
                return "row align-items-center";
            }
            else
            {
                return "row";
            }
        }
    }
}
