@inherits FormInputBase
<div class="col-sm-@FieldWidth">
    <label>@Name</label><br />
    <textarea class="@CssClass form-control mb-3" value="@Value"
    @oninput="UpdateParentElementStr" hidden="@IsHidden" disabled="@IsDisabled" />
</div>

@code {
    
}
