@inherits SelectControlBase

<div>
    <label>@Name</label><br />
    <select class="form-select @CssClass" hidden="@IsHidden" 
        disabled="@IsDisabled" @onchange="UpdateParentElement">
        <option value="1">(ml) Millilitres</option>
        <option value="2">(l) Litres</option>
        <option value="3">(g) Grams</option>
        <option value="4">(kg) Kilograms</option>
        <option value="5">(mm) Millimetre</option>
        <option value="6">(cm) Centimetre</option>
        <option value="7">Teaspoon</option>
        <option value="8">Tablespoon</option>
        <option value="9">(fl) Fluid Ounce</option>
        <option value="10">Cup</option>
        <option value="11">Pint</option>
    </select>
</div>

@code {

}
