@inherits NumberControlBase

<div class="col-sm-@FieldWidth">
    <label>@Name</label><br />
    <input class="form-control mb-3 @CssClass" type="number"
        @onchange="UpdateParentElement" hidden="@IsHidden" disabled="@IsDisabled"/>
</div>

@code {

}
